* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: SourceHanSansSC;
}
a{
    text-decoration: none;
}
input {
    border: none;
}
.mainContainer{
    background-color: #E7E7E7;
    .contentContainer{
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
}

