@import "mixins";
.blockAvatar{
    background-color: $yellow;
    border: 1px solid $text;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
    }
}
.blockAvatarSmall{
    width: 38px;
    height: 38px;
    font-size: 14px;
}
.blockAvatarBig{
    width: 110px;
    height: 110px;
}