@import "mixins";
.ButtonMain{
    border-radius: 16px 4px 16px 4px;
    background-color: $primary;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    color: #FFFFFF;
    font-weight: 400px;
    font-size: 18px;
    border: none;
    padding-left: 18px;
    padding-right: 12px;
    padding-top: 14px;
    padding-bottom: 6px;
    cursor: pointer;
}
.ButtonMainSecondary{
    background-color: $secondary;
}