@import "mixins";
.blockInput{
    display: block;
    color: $text;
    .text{
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 5px;
    }
    input{
        border-radius: 16px 4px 16px 4px;
        background-color: #FFFFFF;
        border: 1px solid $primary;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
        height: 50px;
        padding-top: 17px;
        padding-bottom: 5px;
    }
    .error{
        font-weight: 400;
        font-size: 14px;
        color: $error;
        margin-top: 10px; 
    }
}
.blockInputError{
    input{
        border: 1px solid $error;
    }
}