@import "mixins";
.ContainerRegistration{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: $text;
    width: 550px;
    .title{
        font-weight: 400;
        font-size: 36px;
    }
   
    .blockRectangle{
        .text{
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 5px;
        }
        .rectangle{
            background-color: rgba(241,225,137,0.1);
            border: 2px dashed $yellow;
            border-radius: 6px;
            display: flex;
            gap: 10px;
            padding-left: 10px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            align-items: center;
            &>div:nth-child(2){
                flex-grow: 1;
            }
        }
    }
    .blockButton{
        display: flex;
        justify-content: right;
        &>button{
           width: 135px; 
        }
    }
}